@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

.edit-link {
	position: fixed;
	background: #212121;
	top: 75px;
	border-radius: 0 8px 8px 0;
	left: 0px;
	padding: 15px 20px;
	color: #fff;
	z-index: 10000000000000000000000000;
}

.edit-link a {
	color: #ffffff;
}

.edit-link a > .fa {
	font-size: 1.2em;
}
