{% set some = get_field("social_network", "option") %}
{% if some %}
    <p class="follow"><strong>{{ pll__("Follow us:") }}</strong></p>
    <ul class="social-network">
        {% for sn in some %}
            <li><a href="{{ sn.value != "" ? sn.value : sn.link }}" target="_blank"><span>
                {% if sn.type == "instagram" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="31.813" height="31.813" viewBox="0 0 31.813 31.813">
                        <path d="M-768.032,1048.164H-780.7a9.512,9.512,0,0,1-6.77-2.8,9.512,9.512,0,0,1-2.8-6.771v-12.663a9.512,9.512,0,0,1,2.8-6.77,9.512,9.512,0,0,1,6.77-2.8h12.664a9.512,9.512,0,0,1,6.77,2.8,9.512,9.512,0,0,1,2.8,6.77v12.663a9.512,9.512,0,0,1-2.8,6.771A9.512,9.512,0,0,1-768.032,1048.164Zm-12.664-29.187a6.957,6.957,0,0,0-6.949,6.949v12.663a6.957,6.957,0,0,0,6.949,6.949h12.664a6.957,6.957,0,0,0,6.949-6.949v-12.663a6.957,6.957,0,0,0-6.949-6.949Z" transform="translate(790.27 -1016.351)" fill="#fff"/>
                        <path d="M-754.731,1060.008a8.126,8.126,0,0,1-8.117-8.117,8.127,8.127,0,0,1,8.117-8.118,8.127,8.127,0,0,1,8.117,8.118A8.126,8.126,0,0,1-754.731,1060.008Zm0-13.609a5.5,5.5,0,0,0-5.492,5.492,5.5,5.5,0,0,0,5.492,5.492,5.5,5.5,0,0,0,5.492-5.492A5.5,5.5,0,0,0-754.731,1046.4Z" transform="translate(770.637 -1035.984)" fill="#fff"/>
                        <circle cx="1.559" cy="1.559" r="1.559" transform="translate(22.711 5.984)" fill="#fff"/>
                    </svg> #}
                    Instagram
                {% elseif sn.type == "twitter" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="32.381" height="26.354" viewBox="0 0 32.381 26.354">
                        <path d="M-545.889,1029.068a12.951,12.951,0,0,1-3.726,1.045,6.159,6.159,0,0,0,2.835-3.672,11.285,11.285,0,0,1-4.226,1.6h0a6.633,6.633,0,0,0-4.834-2.083,6.653,6.653,0,0,0-6.653,6.653,6.676,6.676,0,0,0,.178,1.532,18.82,18.82,0,0,1-13.719-6.976,6.735,6.735,0,0,0,1.981,8.87,5.169,5.169,0,0,1-2.908-.836,6.6,6.6,0,0,0,5.289,6.616,6.393,6.393,0,0,1-3,.127,6.7,6.7,0,0,0,6.216,4.635,13.327,13.327,0,0,1-9.815,2.727,17.732,17.732,0,0,0,8.418,2.937s8.915,1.1,15.213-5.48a18.776,18.776,0,0,0,5.45-14.034h0c0-.039,0-.079,0-.118C-546.389,1030.44-545.889,1029.068-545.889,1029.068Z" transform="translate(578.27 -1025.96)" fill="#fff"/>
                    </svg> #}
                    X
                {% elseif sn.type == "facebook" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="13.605" height="28.911" viewBox="0 0 13.605 28.911">
                        <path d="M855.923,383.684H851.3c-2.742,0-5.792,1.153-5.792,5.128.013,1.385,0,2.711,0,4.2h-3.172v5.048h3.27V412.6h6.009V397.968h3.966l.359-4.966h-4.429s.01-2.209,0-2.851c0-1.571,1.634-1.481,1.733-1.481.778,0,2.29,0,2.678,0v-4.986Z" transform="translate(-842.339 -383.684)" fill="#fff"/>
                    </svg> #}
                    Facebook
                {% elseif sn.type == "linkedin" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="26.7" height="25.017" viewBox="0 0 26.7 25.017">
                        <path d="M-342.907,1053.311V1043.2a3,3,0,0,0-2.916-2.7,3.177,3.177,0,0,0-3.093,2.571v10.243H-354.3l.087-16.7H-349l-.042,2.1s1.087-2.744,5.182-2.744,5.949,2.353,6.294,6.753v10.591Zm-18.008-19.071a3.177,3.177,0,0,1-3.355-2.961,3.179,3.179,0,0,1,3.355-2.965,3.179,3.179,0,0,1,3.355,2.965,3.176,3.176,0,0,1-3.355,2.961m3.326,19.091h-6.626v-16.676l6.626-.042Z" transform="translate(364.27 -1028.314)" fill="#fff"/>
                    </svg> #}
                    Linkedin
                {% elseif sn.type == "pinterest" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="22.87" height="29.541" viewBox="0 0 22.87 29.541">
                        <path d="M-158.142,1020.351c-8.063,0-12.128,5.779-12.128,10.6,0,2.919,1.106,5.514,3.475,6.481a.584.584,0,0,0,.85-.425c.077-.3.264-1.046.346-1.362a.822.822,0,0,0-.244-.944,4.9,4.9,0,0,1-1.121-3.327,8.037,8.037,0,0,1,8.355-8.127c4.556,0,7.06,2.784,7.06,6.5,0,4.893-2.166,9.022-5.379,9.022a2.626,2.626,0,0,1-2.679-3.268c.51-2.15,1.5-4.47,1.5-6.021a2.273,2.273,0,0,0-2.289-2.548c-1.814,0-3.272,1.878-3.272,4.392a6.523,6.523,0,0,0,.541,2.685s-1.856,7.869-2.183,9.247a19.091,19.091,0,0,0-.05,6.447.226.226,0,0,0,.4.1,18.135,18.135,0,0,0,3.065-5.552c.207-.754,1.192-4.664,1.192-4.664a4.865,4.865,0,0,0,4.145,2.114c5.454,0,9.157-4.972,9.157-11.628,0-5.033-4.262-9.72-10.742-9.72" transform="translate(170.27 -1020.351)" fill="#fff"/>
                    </svg> #}
                    Pinterest
                {% elseif sn.type == "youtube" %}
                    {# <svg xmlns="http://www.w3.org/2000/svg" width="31.245" height="23.439" viewBox="0 0 31.245 23.439">
                        <path d="M41.288,1036.265a4.742,4.742,0,0,0-4.517-4.952c-3.381-.161-6.829-.222-10.35-.222h-1.1c-3.518,0-6.971.061-10.354.222a4.753,4.753,0,0,0-4.51,4.966c-.153,2.175-.22,4.348-.214,6.518s.061,4.347.208,6.527a4.761,4.761,0,0,0,4.512,4.975c3.552.161,7.195.237,10.9.23q5.568.021,10.9-.23a4.762,4.762,0,0,0,4.517-4.975q.219-3.271.206-6.53.02-3.261-.2-6.529m-18.408,12.519V1036.79l8.851,6Z" transform="translate(-10.245 -1031.091)" fill="#fff"/>
                    </svg> #}
                    Youtube
                {% endif %}
            </span></a></li>
        {% endfor %}
    </ul>
{% endif %}
